h1,
h5 {
	font-family: "Manrope", sans-serif;
	font-weight: bold;
}

h6 {
	font-family: "Manrope", sans-serif;
}

p {
	font-family: "Lato", sans-serif;
}

.homepage-link {
	font-weight: bold;
	color: black;
	text-decoration: underline;
}
