.homepage-link {
	font-weight: bold;
	color: black;
	text-decoration: underline;
}
.about-email {
	font-weight: bold;
}

.about-container {
	display: flex;
	justify-content: center;
}

.image-container {
	padding: 26px;
	width: 380px;
	height: 280px;
	margin: 16px;
}
