h1 {
	font-family: "Manrope", sans-serif;
	font-weight: bold;
	color: #f5fffa;
}

h4,
.h5-homepage {
	font-family: "Manrope", sans-serif;
	font-weight: bold;
	color: #f5fffa;
}

h6 {
	font-family: "Manrope", sans-serif;
}

.home_button {
	font-family: "Lato", sans-serif;
}

p {
	font-family: "Lato", sans-serif;
}

li {
	list-style-type: none;
}

.row {
	display: flex;
	justify-content: center;
}

.card_title_home {
	font-family: "Manrope", sans-serif;
	font-weight: bold;
}

.card_text {
	font-family: "Lato", sans-serif;
}

.card_button {
	font-family: "Lato", sans-serif;
}
